[Unit]
Description=%Description%

[Service]
Type=notify
ExecStart=%ExecStart%
WorkingDirectory=%WorkingDirectory%

[Install]
WantedBy=multi-user.target